.body {
    font-family: Arial, sans-serif;
    background: #fceaea;
    display : flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}
.todo {
background: #ff6b81;
color: #fff;
padding: 20px;
border-radius: 10px;
width: 300px;
}

